<html>
  <head>
    <meta charset="utf-8">
    <title>Pokenatra: Evolve</title>
    <link rel="stylesheet" type="text/css" href="/css/pokestyle.css"
  </head>

<div class="container">
  <h1>Evolve Your Pokemon</h1>
    <br>
      <form action="/pokemons/<%= @pokemon.id %>" method="post">
        <input type="hidden" name="_method" value="put">

        <label for="pokemon[name]">Name:</label>
        <input name="pokemon[name]" value="<%= @pokemon.name %>">

        <label for="pokemon[poke_type]">Type:</label>
        <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">

        <label for="pokemon[cp]">CP:</label>
        <input name="pokemon[cp]" value="<%= @pokemon.cp %>">

        <label for="pokemon[img_url]">Image URL:</label>
        <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">


        <input class="button" type="submit" value="EVOLVE">
      </form>

      <form action="/pokemons/<%= @pokemon.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="button" type="submit" value="DELETE">
      </form>
    <br>
</div>
